.footer-area {
    width : 1200px;
    height : 200px;
    margin : auto;
}

.footer-area>div {
    margin-top : var(--spacing);
    margin-bottom : var(--spacing);
}

.footer-area a {
    color : var(--color-black);
    text-decoration : none;
    font-size : var(--font-size-body);
}

#footer_2 {
    font-size : var(--font-size-button);
    color : var(--color-grey);
}

#footer_3 {
    font-size : var(--font-size-caption);
    text-align : center;
    color : var(--color-cancel);
}