/* 아이콘 */
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css");

/* 디자인 가이드 */

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

:root {
    /* 컬러 */
    --color-primary: #8cb791; /* 주 컬러 */
    --color-secondary: #a9b87d; /* 보조 컬러 */
    /* Neutral color (중립색) */
    --color-black: #0c0c0c;
    --color-white: #ffffff;
    --color-ivory: #F6F5F4;
    --color-grey: #767676;
    /* 시스템 컬러 (성공, 오류, 주의, 정보 등등) */
    --color-warning: #f9a825; /* 경고 */
    --color-error: #d32f2f; /* 오류 */
    --color-info: #0091ea; /* 정보 */
    --color-success: #4caf50; /* 성공 */
    --color-cancle: #c4c5c6; /* 취소 */

    /* 모서리 둥글기 */
    --radius-sm: 10px;
    --radius-md: 20px;
    --radius-lg: 30px;
    --radius-round: 100px;

    /* 여백 */
    --spacing: 20px;

    /* 폰트 */
    --font-family: "Pretendard", sans-serif;

    --font-size-h1: 36px; /* 대제목- 페이지 주 제목 */
    --font-size-h2: 30px; /* 중제목- 섹션 제목 */
    --font-size-h3: 24px; /* 소제목- 카드, 하위 제목 */
    --font-size-h4: 20px; /* 소제목- 카드, 하위 제목 */
    --font-size-body: 16px; /* 본문 */
    --font-size-button: 14px; /* 버튼 및 탭 */
    --font-size-caption: 12px; /* 캡션 및 보조 텍스트- 날짜, 도움말, 주석 등 */
}

body {
    font-family: var(--font-family);
    background-color: var(--color-ivory);
    margin: 0;
}