/* ==========================================
   개인정보 수정
========================================== */
.my-form-grid {
    display: grid;
    grid-template-columns:
        repeat(2, 1fr);
    gap: var(--spacing);
    margin-top: var(--spacing);
}

.my-form-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.my-form-item label {
    color: var(--color-black);
    font-size: var(--font-size-vody);
    font-weight: 700;
}

.my-form-item input {
    width: 100%;
    height: 46px;
    padding: 0 var(--spacing);
    box-sizing: border-box;
    border: 1px solid var(--color-cancel);
    border-radius: var(--radius-sm);
    background: var(--color-white);
    color: var(--color-black);
    font-size: var(--font-size-body);
    outline: none;
    transition: .1s;
}

.my-form-item input:focus {
    border-color: var(--color-primary);
}

.my-form-item input::placeholder {
    color: var(--color-cancel);
}

/* ==========================================
   PASSWORD
========================================== */
.my-password-area {
    display: grid;
    grid-template-columns:
        repeat(3, 1fr);
    gap: var(--spacing);
    margin-top: var(--spacing);
}

.my-password-guide {
    margin-top: var(--spacing);
    color: var(--color-grey);
    font-size: var(--font-size-caption);
}

/* ==========================================
   BUTTON
========================================== */
.my-button-area {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--spacing);
}

.my-main-btn {
    height: 43px;
    padding: 0 var(--spacing);
    border: none;
    border-radius: var(--radius-round);
    background: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-button);
    font-weight: 700;
    cursor: pointer;
    transition: .1s;
}
.my-main-btn:hover {
    background: var(--color-white);
    color: var(--color-primary)
}