/* ==========================================
   BASIC INFO
========================================== */
.my-info-grid {
    display: grid;
    grid-template-columns:
        repeat(2, 1fr);
    gap: var(--spacing);
    margin-top: var(--spacing);
}

.my-info-item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing);
    box-sizing: border-box;
    border-radius: var(--radius-sm);
    background: var(--color-ivory);
}

.my-info-item span {
    color: var(--color-grey);
    font-size: var(--font-size-caption);
}

.my-info-item strong {
    color: var(--color-black);
    font-size: var(--font-size-body);
    font-weight: 400;
}