/* 공통 디자인 */

.crud-card {
    width: 500px;
    margin: 0;
    padding: 30px;

    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;
}

.crud-card h2 {
    margin: 0 0 8px;
}

.crud-card-date {
    margin-bottom: 30px;
    color: #777;
}

.crud-card-input {
    margin-bottom: 20px;
}

.crud-card input[type="number"]::-webkit-inner-spin-button,
.crud-card input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.crud-card-input label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

.crud-card-input-value {
    display: flex;
    align-items: center;
    gap: 10px;
}

.crud-card-input-value input {
    
    flex: 1;
    padding: 10px 12px;

    border: 1px solid #ddd;
    border-radius: 8px;

    font-size: 16px;
}

.crud-card-input-value span {
    width: 30px;
    color: #777;
}

.health-modal-background {
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);

    z-index: 1000;
}

.health-modal-content {
    position: relative;
}


/* 버튼 디자인 */
.unit-toggle {
    display: flex;
    gap: 4px;
    margin-bottom: 10px;
}

.unit-toggle button {
    padding: 6px 14px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.unit-toggle button:first-child {
    border-radius: 8px 0 0 8px;
}

.unit-toggle button:last-child {
    border-radius: 0 8px 8px 0;
}

.unit-toggle button.active {
    background: #333;
    color: #fff;
    border-color: #333;
}