/* 로그인 페이지 */
.login-page {
    min-height: 100vh; /* 화면 전체 높이 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg /* 45도 각도로 */, var(--color-primary) 0%, var(--color-secondary) 100% /* primary -> secondary로 그라데이션 */);
}

/* 로그인 카드 */
.login-card {
    width: 500px;
    max-width: 90%;
    background-color: var(--color-ivory);
    border-radius: var(--radius-lg);
    padding: 48px var(--spacing);
}

/* 로그인 타이틀 */
.login-title {
    color: var(--color-primary);
    font-size: var(--font-size-h1);
    font-weight: 700;
    margin: var(--spacing) var(--spacing) 10px var(--spacing);
}
/* 타이틀 아래 설명 */
.login-subtitle {
    color: var(--color-black);
    font-size: var(--font-size-body);
    margin: 0 var(--spacing) var(--spacing) var(--spacing);
}

/* 입력창- 그룹 */
.login-input-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    margin: var(--spacing);
}
/* 입력창 (아이디, 비번) */
.login-input {
    width: 100%;
    box-sizing: border-box;
    padding: var(--spacing) 18px;
    border: 1px solid #d9d9d9;
    border-radius: var(--radius-sm);
    font-size: var(--font-size-body);
    font-family: "Pretendard", sans-serif;
    background-color: var(--color-white);
}
/* 입력값 */
.login-input::placeholder {
    color: var(--color-cancel);
}

/* 로그인 버튼 */
.login-button {
    width: 90%;
    padding: var(--spacing) 0;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--font-size-h3);
    font-weight: 700;
    border: none;
    border-radius: var(--radius-round);
    cursor: pointer;
    margin: var(--spacing);
}

/* 로그인 실패 메시지 */
.login-error {
    margin-top: 10px;
    color: var(--color-error);
    font-size: var(--font-size-body);
    font-weight: 700;
    text-align: center;
}

/* 아이디 / 비밀번호 찾기 */
.login-forgot {
    display: block;
    margin: 10px auto;
    color: var(--color-grey);
    font-size: var(--font-size-button);
    text-align: center;
}