.health-dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--spacing);
}

.health-title h2 {
  font-size: var(--font-size-h1);
  font-weight: 700;
  color: var(--color-black);
}

.health-title p {
  color: var(--color-grey);
  font-size: var(--font-size-body);
}

.health-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing);
}

.health-card {
  padding: 30px;
  background: var(--color-white);
  border-radius: var(--radius-md);
}

.health-card span {
  display: block;
  color: var(--color-black);
}

.health-card strong {
  display: block;
  margin-top: var(--spacing);
  font-size: var(--font-size-h1);
}

.health-card p {
  color: var(--color-cancle);
}

@media (max-width: 900px) {

  .health-card-container {
    grid-template-columns: 1fr;
  }

}